* {
  font-family: sans-serif;
  outline: none;
  transition: 0.3s all;
  margin: 0;
}
body, html{
  font-size: 12px;
}
a {
  color: #ff6600;
  text-decoration: none;
}
.bigButton {
  margin: 10px;
}
.logo_section {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background: #eee;
  border: 2px solid #ccc;
  margin: 0 auto;
}
.bigButton a {
  color: #fff;
  background: #f58766;
  text-align: center;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: 1s;
}
.bigButton a:hover {
  background: #000;
  transform: scale(1.1);
  transition: .1s;
}
.survey_slidemaster {
  border: 1px solid #000;
  max-width: 500px;
  margin: 0 auto;
}
.mg5 {
  margin: 5px;
}
.mg10 {
  margin: 10px;
}
.ca::after {
  clear: both;
  display: block;
  content: '';
}
.searchbar > p {
  font-size: 22px;
}
.searchbar > div.ca {
  border: 1px solid #000;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
}
.searchbar > div.ca > input {
  float: left;
  min-width: 300px;
  border: none;
  padding: 7px 10px;
}
.searchbar > div.ca > button {
  float: left;
  width: 85px;
  color: #fff;
  border: none;
  padding: 7px 0;
  background: #ffa568;
  border-left: 1px solid #000;
}
